/*Font Types */

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fascinate+Inline|Pacifico|Permanent+Marker|Shadows+Into+Light');
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
/*----------------------------------------------------------*/

/*Background Colors*/

.blueBackground {
	background-color: #69c9c7;
}

.tanBackground {
	background: #c3e8c7;
}

/*------------------------------------------------------------*/
body {
	font-family: 'Permanent Marker', cursive;
}

.flexContainer {
	display: flex;
}

.flexItem {
	flex: 1;
}

.flexStart {
	justify-content: flex-start;
}

.flexEnd {
	justify-content: flex-end;
}

.flexCenter {
	justify-content: center;
}


.nav {
	list-style: none;
}

.nav a {
	text-decoration: none;
	display: block;
	padding: 0 1em;
	color: #ffffff;
}

.fullHeight {
	height: 100vh;
}

.itemCenter {
	align-items: center;
}

.centerImage {
	background: url(../images/home-image.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}

.myButton {
	background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #69c9c7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Permanent Marker', cursive;;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color: #69c9c7;
}
.myButton:active {
	position:relative;
	top:1px;
}

.services {
	list-style: none;
	text-decoration: none;
	color: #ffffff;
	display: block;
}

.services {
	text-align: center;
	color: #ffffff;
}

.flex-wrap {
	flex-wrap: wrap;
}

#services i {
	font-size: 300px;
	color: #d2a393;
}

img {
	max-width: 100%;
}

.bigitem {
   /* This will be twice as big as the small item. */
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
}
.smallitem {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
}

#phone {
	max-width: 100%;
	max-height: 75%;
}

.smallItem {
	margin-top: -200px;
	margin-bottom: -100px; 
	-webkit-flex: 1 0 0;
	flex: 1 0 0;
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #69c9c7;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #69c9c7;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #69c9c7;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #69c9c7;
}


#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #69c9c7;
  color: #69c9c7;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #69c9c7;
  color: #e2dedb;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #69c9c7;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}